<h2>List of employees</h2>
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Middlename</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees;">
        <td *ngIf='employee.isEdit'>{{ employee.firstName }}</td>
        <td *ngIf='!employee.isEdit'><input type="text" [(ngModel)]='employee.firstName' /></td>
        <td *ngIf='employee.isEdit'>{{ employee.lastName }}</td>
        <td *ngIf='!employee.isEdit'><input type="text" [(ngModel)]='employee.lastName' /></td>
        <td *ngIf='employee.isEdit'>{{ employee.middleName }}</td>
        <td *ngIf='!employee.isEdit'><input type="text" [(ngModel)]='employee.middleName' /></td>
        <td>
          <button class="btn btn-primary" *ngIf='employee.isEdit' (click)="editEmployee(employee)">Edit</button>
          <button class="btn btn-primary" *ngIf='!employee.isEdit' (click)="updateEmployee(employee)">Update</button>
          <button class="btn btn-danger" (click)="deleteEmployee(employee.id)">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>