<div class="container employee-bg">
  <app-employee-list [employees]='newEmployeeList'></app-employee-list>
  <div [hidden]="submitted">
    <h2>Add Employee</h2>
    <form (ngSubmit)="onSubmit()" #employeeForm="ngForm">

      <div class="form-group">
        <label>First Name</label>
        <input type="text" class="form-control" id="firstName" [(ngModel)]="employee.firstName" name="firstName">
      </div>

      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" class="form-control" id="lastName" [(ngModel)]="employee.lastName" name="lastName">
      </div>

      <div class="form-group">
        <label for="middleName">Middle Name</label>
        <input type="text" class="form-control" id="middleName" [(ngModel)]="employee.middleName" name="middleName">
      </div>

      <button type="submit" class="btn btn-success">Add</button>

    </form>
  </div>
</div>